---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getAllTags } from "./tags";
import PageHeading from "@components/PageHeading.astro";
import Tag from "@components/Tag.astro";

const tags = await getAllTags();
---

<BaseLayout title="Project Tags | Jay Parry">
	<section class="space-y-2">
		<PageHeading>Tags</PageHeading>
		<h2 class="text-lg italic">All the tags used in my posts and projects!</h2>
		<div>
			{tags.map((tag) => <Tag {tag} />)}
		</div>
	</section>
</BaseLayout>
