---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jay Parry">
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel dui tellus. In tincidunt a orci a consequat. Donec
		nec ornare sem. Suspendisse lacinia, quam quis malesuada luctus, lorem ex finibus justo, porta posuere nulla lorem
		sit amet leo. Mauris egestas lacus pulvinar, venenatis leo at, egestas ante. Aenean cursus lectus nec leo euismod,
		et dignissim libero dignissim. Aliquam molestie accumsan nisi, et sollicitudin ipsum tincidunt ut. Proin vulputate
		molestie velit. Curabitur semper viverra purus tincidunt ornare. Aenean sit amet malesuada eros. Pellentesque in
		libero sed erat volutpat accumsan. Ut et facilisis purus, eu mattis felis. Pellentesque habitant morbi tristique
		senectus et netus et malesuada fames ac turpis egestas. Etiam luctus aliquam commodo. Curabitur scelerisque lacus
		non commodo luctus. Etiam porta rhoncus venenatis. Praesent luctus lectus et sodales condimentum. Nullam dolor nunc,
		eleifend ut augue a, viverra sagittis turpis. Quisque nec tortor interdum, varius libero non, placerat lorem.
		Praesent non nisl porttitor, posuere ex sit amet, malesuada risus. Mauris turpis nunc, congue quis iaculis quis,
		volutpat at ipsum. Praesent pretium rutrum mauris sit amet tincidunt. Fusce eget cursus purus, et iaculis quam.
	</div>
</BaseLayout>
