---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Jay Parry">
	<div class="space-y-16">
		<section
			class="space-y-4 rounded-l border border-gray-200 bg-gray-50 px-4 py-3 text-lg text-base-content dark:border-base-content dark:bg-base-100"
		>
			<p>Hi! I'm Jay, a full-stack developer.</p>
			<p>
				Growing up I was a bit of a nerd and naturally gravitated towards tech
				and software development.
			</p>
			<p>
				I've studied both Mechatronics Engineering and Computer Science at The
				University of Newcastle. For a handful of reasons, I've since put my
				studies on pause in favour of pursuing a career in software development!
			</p>
			<p>
				Professionally, I've primarily worked on React applications with NodeJS
				and Go backends. When I find the time, I also like to work on personal
				projects - building with technologies including Golang, React (with
				Typescript of course), TailwindCSS, Astro and Postgres!
			</p>
		</section>

		<section>
			<div>
				<h2 class="mb-2 w-full text-3xl font-bold lg:text-4xl">
					My Latest Projects &lt;/&gt;
				</h2>
			</div>
		</section>
	</div>
</BaseLayout>
