---
import Card from "@components/Card.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { filterDraftArticles } from "src/filter";

const projects = await getCollection("project", filterDraftArticles);
projects.sort(
	(a, b) => a.data.publishDate.getTime() - b.data.publishDate.getTime(),
);

const mostRecentProjects = projects.slice(0, 2);
---

<BaseLayout title="Jay Parry">
	<div class="space-y-12">
		<div class="flex flex-col items-center space-y-2 pb-3 pt-9 font-bold">
			<h2 class="text-5xl">
				Hey, I'm <span class="text-primary">Jay!</span>
			</h2>

			<h3 class="text-4xl font-semibold">Fullstack Developer</h3>
		</div>

		<section>
			<h2
				class="w-full text-3xl font-bold lg:text-4xl"
				id="about"
			>
				About Me
			</h2>

			<div class="space-y-6 py-3 text-xl font-medium text-base-content">
				<p>
					Growing up, I naturally gravitated towards tech and software
					development.
				</p>
				<p>
					I've studied both Mechatronics Engineering and Computer Science at The
					University of Newcastle. I've since put my studies on pause in favour
					of pursuing a career in software development!
				</p>
				<p>
					Professionally, I've primarily worked on React applications with
					NodeJS and Go backends. When I find the time, I also like to work on
					personal projects - building with technologies including Golang, React
					(with Typescript of course), TailwindCSS, Astro and Postgres!
				</p>
			</div>
		</section>

		<section class="space-y-6">
			<h2 class="mb-2 w-full text-3xl font-bold lg:text-4xl">
				My Latest Projects &lt;/&gt;
			</h2>

			<div class="space-y-12">
				{
					mostRecentProjects.map((p) => (
						<Card
							title={p.data.title}
							to={`/projects/${p.slug}`}
							content={p.data.description}
							image={p.data.image}
						/>
					))
				}
			</div>
		</section>
	</div>
</BaseLayout>
