---
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jay Parry">
	<div class="space-y-16">
		<section>
			<h1 class="text-3xl font-bold py-1">Hey there, I'm Jay!</h1>
			<p class="text-3xl font-semibold pb-4">Fullstack Software Developer</p>

			<div class="text-xl space-y-4">
				<p>I was your typical nerd growing up, and naturally gravitated towards tech and software development.</p>
				<p>
					I find something intrinsically satisfying about being able to pull an idea out of my head and turn it into an
					enjoyable, tangible and interactive experience; whether that be an Arduino-powered robot bumbling about or a
					Discord bot for my friends and me.
				</p>
				<p>
					I began studying a Bachelor of Mechatronics Engineering in 2020, which then lead me into Computer Science.
					During my time studying, my passion for software development considerably grew encouraging me to pursue it
					professionally.
				</p>
				<p>
					I've since started working as a full-stack developer, working primarily on React applications with NodeJS
					backends. When I get the chance, I also like to work on personal projects - building with technologies
					including Golang, React (with Typescript of course), TailwindCSS, Astro and Postgres!
				</p>
			</div>
		</section>

		<section>
			<div>
				<h2 class="text-3xl lg:text-4xl w-full font-bold mb-2">My Latest Projects &lt;/&gt;</h2>
			</div>
		</section>
	</div>
</BaseLayout>
