---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Jay Parry">
	<div class="space-y-16">
		<section class="text-lg text-gray-900 bg-gray-50 border py-3 px-4 border-gray-200 rounded-l space-y-4">
			<p>Hi! I'm Jay, a full-stack developer.</p>
			<p>I was a bit of a nerd growing up, and naturally gravitated towards tech and software development.</p>
			<p>
				I've studied both Mechatronics Engineering and Computer Science at The University of Newcastle. For a handful of
				reasons, I've since put my studies on pause in favour of pursuing a career in software development.
			</p>
			<p>
				Professionally, I've primarily worked on React applications with NodeJS and Go backends. When I find the time, I
				also like to work on personal projects - building with technologies including Golang, React (with Typescript of
				course), TailwindCSS, Astro and Postgres!
			</p>
		</section>

		<section>
			<div>
				<h2 class="text-3xl lg:text-4xl w-full font-bold mb-2">My Latest Projects &lt;/&gt;</h2>
			</div>
		</section>
	</div>
</BaseLayout>
