---
import TimelineContainer from "@components/Timeline/TimelineContainer.astro";
import TimelineElement from "@components/Timeline/TimelineElement.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Resume | Jay Parry">
	<div class="mt-3">
		<TimelineContainer>
			<TimelineElement title="Fullstack Developer" date="Today - Tomorrow">Hello</TimelineElement>
			<TimelineElement title="Systems Engineer" date="Today - Tomorrow">Hello</TimelineElement>
		</TimelineContainer>
	</div>
</BaseLayout>
