---
import { Image } from "astro:assets";

interface Props {
	title: string;
	content: string;
	to: string;
	image?: string;
}

const { title, content, to, image = "" } = Astro.props;
---

<div
	class="card w-full lg:card-side bg-base-100 border-2 border-gray-200 border-opacity-70 dark:border-neutral-700"
>
	{
		image && (
			<figure class="border-b-2 lg:border-b-0 lg:border-r-2 border-gray-200 border-opacity-70 dark:border-neutral-700">
				<Image src={image} alt="Test Image" height="256" width="256" />
			</figure>
		)
	}
	<div class="card-body">
		<h2 class="card-title">{title}</h2>
		<p>{content}</p>
		<div class="card-actions w-full">
			<a
				class="btn btn-primary no-animation active:bg-accent w-full text-white"
				href={to}>Read More</a
			>
		</div>
	</div>
</div>
