---
import NavContent from "./NavContent.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<!-- Navbar -->
<div class="navbar sticky top-0 z-40 bg-base-100 lg:static">
	<div class="navbar-start lg:hidden">
		<label
			for="my-drawer"
			class="btn btn-square btn-ghost"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block h-6 w-6 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16M4 18h16"
				></path>
			</svg>
		</label>
	</div>
	<div class="navbar-center lg:flex">
		<a
			href="/"
			class="text-2xl font-extrabold text-primary"
		>
			<div class="space-x-1">
				<span> Jay Parry.</span>
				<span
					class="rounded-md bg-primary px-2 text-center text-base font-bold text-base-100"
					>dev
				</span>
			</div>
		</a>
	</div>

	<div class="navbar-end pr-2 pt-3">
		<!-- theme toggle for mobile -->
		<div class="lg:hidden">
			<ThemeToggle />
		</div>
	</div>

	<div class="hidden flex-none lg:block">
		<ul class="menu menu-horizontal text-xl">
			<!-- Navbar menu content here -->
			<NavContent />
		</ul>

		<!-- theme toggle for desktop -->
		<!-- <span class="align-middle">
			<ThemeToggle />
		</span> -->
	</div>
</div>
