---
import NavContent from "./NavContent.astro";
---

<div class="drawer-side">
	<label for="my-drawer" class="drawer-overlay"></label>
	<ul class="menu p-4 w-80 min-h-full bg-base-200">
		<!-- Sidebar content here -->
		<NavContent />
	</ul>
</div>
