---
import { Image } from "astro:assets";
import NavContent from "./NavContent.astro";
import ProfileImage from "../assets/images/profile.jpg";
---

<div class="drawer-side z-50 lg:hidden">
	<label for="my-drawer" class="drawer-overlay"></label>
	<ul class="menu min-h-full w-5/6 space-y-2 bg-base-200 p-4 text-xl">
		<!-- Sidebar content here -->
		<li>
			<div class="avatar mx-auto my-4">
				<div class="w-32 rounded-full">
					<a href="/">
						<Image src={ProfileImage} alt="Profile Image" />
					</a>
				</div>
			</div>
		</li>

		<NavContent />
	</ul>
</div>
