---
import { Image } from "astro:assets";
import NavContent from "./NavContent.astro";
import ProfileImage from "../assets/images/profile.jpg";
---

<div class="drawer-side">
	<label for="my-drawer" class="drawer-overlay"></label>
	<ul class="menu p-4 w-72 min-h-full bg-base-200">
		<!-- Sidebar content here -->
		<div class="avatar mx-auto my-4">
			<div class="w-28 rounded-full">
				<a href="/">
					<Image src={ProfileImage} alt="Profile Image" />
				</a>
			</div>
		</div>

		<NavContent />
	</ul>
</div>
