---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";

interface Props extends IconProps {}

const { size } = Astro.props as IconProps;
---

<a
	href="https://github.com/Jaytpa01"
	target="_blank"
	aria-label="Link to my Github page."
>
	<Github {size} />
</a>
<a
	href="https://www.linkedin.com/in/jay-parry42/"
	target="_blank"
	aria-label="Link to my LinkedIn profile."
>
	<LinkedIn {size} />
</a>
