---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const postEntries = await getCollection("project");
	return postEntries.map((entry: CollectionEntry<"project">) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

interface Props {
	entry: CollectionEntry<"project">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const project = entry.data;
---

<BaseLayout
	title={project.title}
	image={project.image}
>
	<article class="space-y-5">
		<h1
			class="text-5xl font-extrabold"
			transition:name={project.title}
		>
			{project.title}
		</h1>
		<div class="prose prose-lg max-w-none prose-img:mx-auto prose-hr:my-5">
			<Content />
		</div>
	</article>
</BaseLayout>
